* {
    padding: 0;
    font-family: "Arial Narrow Bold", sans-serif;
  }
  body {
    width: 100%;
  }
  /* Header  */
  #header {
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #ddd;
    }
  /*----------------------------*\
      Logo
  \*----------------------------*/
    
    .header-logo {
      float: left;
      padding: 15px 0;
    }
    
    .header-logo .logo img {
      display: block;
    }
  /* Navbar  */
  
  /*----------------------------*\
      Inputs
  \*----------------------------*/
  
  /*-- Text input --*/
  
  .input {
    height: 40px;
    padding: 0px 15px;
    border: 1px solid #e4e7ed;
    background-color: #fff;
    width: 100%;
  }
  
   /*----------------------------*\
      Action
  \*----------------------------*/
  .header-ctn {
      float: right;
      padding: 15px 0px;
    }
    
    .header-ctn>div {
      display: inline-block;
    }
    
    .header-ctn>div+div {
      margin-left: 15px;
    }
    
    .header-ctn>div>a {
      display: block;
      position: relative;
      width: 90px;
      text-align: center;
      color: #FFF;
    }
   
  .actions {
    display: flex;
    gap: 15px;
  }
  .action-link {
    text-decoration: none;
    color: #8b96a5;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .action-link svg {
    width: 20px;
    height: 20px;
    fill: #8b96a5;
  }
  /* ---------------------------- */
  /* MAIN CONTENT  */
  /* ---------------------------- */
  #main{
      background-color:#F7FAFC;
      padding-top: 15px;
      padding-bottom: 15px;
  }
/*----------------------------*\
	Section
\*----------------------------*/

.section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
 
/* ---------------------------- */
/* CART PRODUCTS  */
/* ---------------------------- */
.cart-section {
    padding: 30px 0;
  }

.cart-items{
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    padding: 15px;
}

  .cart-item {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
  }

  .cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .item-title {
    font-weight: 600;
    font-size: 0.9rem;
    margin: 0;
  }

  .item-description {
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .remove, .save-for-later {
    font-size: 0.875rem;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
  }

  .remove {
    color: red;
  }

  .remove:hover {
    background-color: #ffe6e6;
    color: darkred;
  }

  .save-for-later {
    color: #007bff;
  }

  .save-for-later:hover {
    background-color: #eef3ff;
  }

  .price {
    font-size: 1rem;
  }

  .qty-button {
    font-size: 0.9rem;
    padding: 6px 12px;
  }

  .coupon {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
  }

  .apply-btn{
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 0;
    padding: 5px 10px;
    color: #007bff;
    background-color: #fff;
  }

  .remove-all {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 8px 15px;
    border-radius: 5px;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.875rem;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
    justify-self: end;
  }

  /* ---------------------------- */
  /* Calculation Section   */
  /* ---------------------------- */

  .calculation-box{
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px;
  }

  .subtotal , .discount , .tax , .total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .total{
    font-weight: bold;
    margin-bottom: 20px;
  }

  .checkout{
    border: 1px solid;
    border-radius: 10px;
    background-color: #00B517;
    color: #fff;
    padding: 12px 0;
    width: 230px;
  }

  /* ---------------------------- */
  /* Services Box  */
  /* ---------------------------- */
  .serv-box{
    display: flex;
  }
  .service-icon{
    background-color: #DEE2E7;
    padding:12px 17px 10px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .serv-box-text{
    display: inline-block;
  }
  .titel{
    margin-bottom: 0;
  }

 .details{
    color: #8b96a5;
    margin-bottom: 0;
   }



   /* ---------------------------- */
  /* Services Box  */
  /* ---------------------------- */

.product-saved-border{
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #FFF;
}

  .product-saved-border h5{
    font-weight: bold;
  }

  .saved-products-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 50px;
  }
  .product-title {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #6c757d;
  }
  .product-price {
    font-size: 1rem;
    font-weight: bold;
  }
  .move-to-cart{
    background-color: #fff;
    color: #007bff;
    border: 1px solid #ddd;
    padding: 5px 15px;
    border-radius: 8px;
  }
   .move-to-cart i{
    margin-right: 5px;
   }

  /* ---------------------------- */
  /* DISCOUNT PRODUCT  */
  /* ---------------------------- */
.discount-banner {
  background-color: #005ADE;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.discount-left {
  flex-grow: 2;
  clip-path: polygon(0 0, 40% -500%, 80% 100%, 0% 100%);
  background-color: #007bff;
  padding: 20px;
}
.discount-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.discount-text {
  font-size: 0.9rem;
}
.shop-now-button {
  background-color: #FF9017;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin: 0 10px;
}










  
/* ---------------------------- */
/* FOOTER */
/* ---------------------------- */
#footer {
    color: #B9BABC;
  }
  .footer {
    margin: 30px 0px;
  }
#top-footer{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
  .footer-center, .footer-right {
    display: flex;
   }
  .footer .footer-title {
    font-size: 16px;
    margin: 0px 0px 30px;
    color: #000;
    font-weight: 600;
  }
  .footer-links a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #B9BABC;
    font-weight: 100;
  }
  .footer-links i {
    padding: 5px;
    background: #B9BABC;
    color: #fff;
    text-align: center;
    border: 1px solid #B9BABC;
    border-radius: 50%;
  }
.footer-icons{
    border: 1px solid #B9BABC;
    margin-right: 10px;
    padding: 5px;
    background: #B9BABC;
    color: #fff;
    text-align: center;
    border: 1px solid #B9BABC;
    border-radius: 50%;
}

  
/* -- bottom footer -- */
#bottom-footer{
    background-color:#F7FAFC;
    color:#8b96a5;
    padding: 20px 0 10px;
}
.footer-payments{
    display: flex;
    justify-content: space-between;  
}
.footer-payments a{
    text-decoration: none;
}











/* ---------------------------- */
/* Responsive for Tablets */
/* ---------------------------- */
@media (max-width: 992px) {
  .header-logo, .header-ctn {
    float: none;
    text-align: center;
    padding: 10px 0;
  }
  .actions {
    justify-content: center;
    flex-wrap: wrap;
  }
  .serv-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .saved-products-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 30px;
  }
  .discount-banner {
    flex-direction: column;
    text-align: center;
  }
  .discount-left{
    clip-path: none;
    background-color: #005ADE;
  }
  .shop-now-button{
    margin: 25px 10px;
  }
  .product-card img{
    max-width: 120px;
  }
  .checkout{
    max-width: 120px;
  }
  .payment{
    display: flex;
    flex-wrap: wrap;
  }
  .footer {
    margin: 30px 25px;
  }
  .footer-left{
    max-height: fit-content;
    max-width: 150px;
  }
  .footer-links {
    flex-wrap: wrap;
  }
  .footer-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 290px;
  }
  .footer-right {
    flex-direction:column;
    align-items: center;
    text-align: center;
  }
  .footer-payments {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
}

/* ---------------------------- */
/* Responsive for Mobile Phones */
/* ---------------------------- */
@media (max-width: 600px) {
  .header-logo, .header-ctn {
    padding: 5px 0;
  }
  .actions {
    flex-direction: column;
    gap: 10px;
  }
  .cart-item {
    flex-direction: column;
    text-align: center; 
  }
  .cart-item img {
    margin-bottom: 10px;
  }
  .item-detail{
    display: flexbox;
  } 
  .serv-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .saved-products-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .discount-banner {
    flex-direction: column;
    padding: 20px 10px;
  }
  .footer-center, .footer-right {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-payments {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
